// Body
$body-bg: #e9e6e6;

$primary-color: #242331;
// $primary-color: #fda584;
$primary-bright: #284b63;
$secondary-color: #443730;
$highlight-color: #af9164;
$background-color-grey: #30343f;
$text-color: #30343f;
$text-darkbg: rgb(233, 230, 230);
$grey-light: #f5f5f5;

//Crane color scheme
$grey: #a7b3b0;
$light-blue: #56adc9;
$medium-blue: #50819a;
$dark-blue: #333e50;
$gold: #e7be65;
$gold2: #b6a377;
$yellow: #e5b94d;

// New Adventure color scheme
$seagreen: #037171;
$forestblack: #03312e;
$brown: #502419;
$iceblue: #c0fdfb;
$snowwhite: #fffcff;
$platinum: #e6e6e9;
$rockgrey: #9999a1;

$meadow: #d4edbf;
$saffron: #fec57e;
$periwinkle: #b8b8ff;
$indigo: #9381ff;
$coral: #f86f5f;
$blush: #de6c83;
$bittersweet: #be5a5a;
