
// Body
$body-bg: #f5f8fa;

$primary-color: #284B63;
// $primary-color: #fda584;
$primary-bright: #242331;
$secondary-color: #443730;
$highlight-color: #AF9164;
$background-color-grey: #30343F;
$text-color: #30343F;
$text-darkbg: white;

