
// Body
$body-bg: #f5f8fa;

$primary-color: #F8A39D;
// $primary-color: #fda584;
$primary-bright: #FF6F61;
$secondary-color: #EBDBCA;
$highlight-color: #DCFBF7;
$background-color-grey: #DADCDC;
$text-color: #45484A;
$text-darkbg: white;