// Fonts
@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat|Sacramento|Raleway|Radley');

// Variables
@import "variables";

body {
    margin: 0;
    padding: 0;
}

body,
p {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
}

h3 {
    color: $primary-bright;
}

h4 {
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 12px;
}

h3, button {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    color: $text-color;
    @media only screen and (max-width: 768px) {
    font-size: 12px;
    }
}

button {
   border: none;
   background-color: $highlight-color;
   padding: 16px 48px;
   color: $text-color;
   cursor: pointer;
   &:hover, &:focus {
       font-weight: 600;
   }
}