// Fonts
@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat|Sacramento|Raleway|Radley');

// Variables
@import "variables";

body {
    margin: 0;
    padding: 0;
}

body,
p {
    font-family: 'Montserrat', sans-serif;
    color: $text-color;
}

h3 {
    color: $primary-bright;
}

h4 {
    font-family: 'Abel', sans-serif;
    color: white;
    font-size: 36px;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 9px;
    font-weight: 600;
}

h3, button {
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    color: $text-color;
    @media only screen and (max-width: 768px) {
    font-size: 12px;
    }
}

button {
   border: none;
   background-color: $highlight-color;
   padding: 16px 48px;
   color: $text-color;
   cursor: pointer;
   &:hover, &:focus {
       font-weight: 600;
   }
}

a {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
    margin: 16px 0;
    &:hover,
    &:focus {
        font-weight: 600;
    }
}

.icon-bar {
    display: flex;
    width: 180px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .hex-background {
        height: 48px;
        width: 48px;
        background-image: url("./../assets/hexagonal.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-origin: border-box;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s color ease;

        &:hover,
        &:focus {
            color: $text-darkbg;
            transition: 0.3s color ease;
        }
    }

    .fab {
        font-size: 24px;
        width: 23px;
        height: 23px;
    }

    .fa-instagram {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}